{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Contact Me</h5>
    <div class="card-body">
        <p class="card-text">If you require more information on any of the projects within my portfolio, don't hesitate to contact me.</p>
        <a href="{% url 'contact' %}"
           class="btn btn-danger">Contact</a>
    </div>
</div>
</div>

{% endblock sidebar %}